/* TAB EFFECT */

.router-link-active {
  color: #ff4c00;
  border-right: 4px solid #ff4c00;
}

/* WRAPPERS */

.view-panel {
  flex: 4 1 80%;
  height: 100%;
}

.content-wrapper {
  width: 100%;
  height: 85%;
  display: flex;
}

/* TOP BAR */

.top-bar {
  height: 15%;
  padding-left: 2rem;
  padding-right: 1em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dedede;
}
.top-bar__title {
  margin: 0;
  font-weight: 900;
  font-size: 2.5em;
  color: #242424;
}
.top-bar__date {
  display: inline-flex;
  flex-flow: column nowrap;
}
.date__day {
  font-weight: 900;
  font-size: 2em;
  color: #ff4c00;
}
.date__exact {
  font-weight: 400;
  font-size: 1.5em;
  color: #424242;
  text-align: right;
}

/* HOME PANEL */

.home-panel > .content-wrapper {
  flex-flow: row nowrap;
}

/* TODAY ACTIVITY PANEL */

.today-activity {
  flex: 3 0 0;
  display: flex;
  flex-flow: column nowrap;
  border-right: 1px solid #dedede; 
  height: 100%;
  padding: 1.5em 2em;
}
.current-task {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  padding: 1.5em;
  background: linear-gradient(118.53deg, #EB3453 0%, #FBA919 100%);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  border-radius: 1em;
}
.task-info {
  display: flex;
  flex-flow: column nowrap;
  width: 10em;
  margin-left: 0.5em;
}
.task-info__name {
  margin: 0;
  font-weight: 500;
  font-size: 1.5em;
  color: #ffffff;
}
.task-info__duration {
  margin-top: 3em;
  color: #ffffff;
}

/* COMPLETED TASK */

.completed-tasks {
  display: flex;
  flex-flow: column nowrap;
  overflow-y: hidden;
  margin: 1.5em 0 0 0;
  padding: 0.5rem 0 0 0;
}
.completed-tasks-list {
  display: flex;
  flex-flow: column nowrap;
  overflow-y: auto;
  margin: 0;
  padding: 0.5rem 0 0 0;
}
.completed-tasks-list__item {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 1em;
  padding-right: 0.5em;
  background-color: #ffffff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  border-radius: 1em;
}
.progress-indicator {
  flex: 1 0 0;
  height: 3.5rem;
  border-radius: 1em 0 0 1em;
}
.progress-indicator.on-time {
  background-color: #1DB954;
}
.progress-indicator.late {
  background-color: #EC3A50;
}
.progress-indicator.early {
  background-color: #F57D2F;
}
.completed-task__name {
  flex: 2 0 0;
  margin: 0 0 0 1em;
  font-weight: 500;
  font-size: 1em;
  color: #242424;
}
.completed-task__duration {
  flex: 3 0 0;
  margin: 0;
}

/* ROUTINE MANAGER PANEL */

.routine-manager {
  flex: 5 0 0;
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  padding: 1.5em 2em;
}
.routine-carousel {
  height: 50%;
  flex: 1 0 100%;
  display: flex;
  flex-flow: column nowrap;
}
.carousel-control {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.carousel-control__buttons {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-bottom: 1rem;
}
.carousel__button {
  flex: 1 0 0;
  border: none;
  background-color: transparent;
}
.carousel-wrapper {
  position: relative;
  flex: 1 0 auto;
  overflow-x: hidden;
}
.routine-list {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 0;
  list-style-type: none;
  transition: all 1s ease;
}
.routine-list__item {
  margin-right: 1rem;
}

/* CURRENT TASKS */

.current-tasks {
  flex: 1 0 100%;
}
.current-tasks-list {
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  list-style-type: none;
}
.current-task-card {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 40%;
  margin: 0 1rem 0.5rem 0;
  padding: 0.5rem 1rem;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}
.current-task-card:nth-of-type(1) {
  background-color: #ec3a50;
}
.current-task-card:nth-of-type(2) {
  background-color: #00ba6c;
}
.current-task-card:nth-of-type(3) {
  background-color: #F36C37;
}
.current-task-card:nth-of-type(4) {
  background-color: #272AD4;
}
.current-task-card:nth-of-type(5) {
  background-color: #FAA51B;
}
.current-task-card:nth-of-type(6) {
  background-color: #A61C95;
}
.current-task__name {
  flex: 1 0 0;
  margin: 0;
  font-weight: 500;
  font-size: 1em;
  color: #ffffff;
}
.current-task__duration {
  flex: 1 0 0;
  margin: 0;
  color: #ffffff;
}